:root {
  --font-size: 18px;
  --line-height: 30px;
}

body {
  font: var(--font-size) / var(--line-height) "Noto Serif SC", serif;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 801px) {
  main {
    width: calc(100% - 2rem);
    max-width: 1440px;
    margin: calc(var(--line-height) * 5) auto var(--line-height);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 2rem;
  }
}

h1 {
  font-size: var(--font-size);
  margin: 0 0 var(--line-height);
}

nav {
  margin-bottom: var(--line-height);
}

nav ul {
  margin: 0;
  padding-left: 0;
}

nav li {
  list-style: none;
}

article[lang="jp"] {
  font-family: "Noto Serif JP", serif;
}

article h2 {
  font-size: 1rem;
  margin: var(--line-height) 0;
}

article p {
  margin: calc(var(--line-height) / 2) 0;
}

article > h2:first-child,
article > p:first-child {
  margin-top: 0;
}

article blockquote {
  margin: calc(var(--line-height) / 2) 0 calc(var(--line-height) / 2) 2em;
}

article.novel p {
  margin: 0;
}

article.novel p + p {
  text-indent: 2em;
}

aside {
  padding-top: calc(var(--line-height) * 2);
  color: #666;
}

@media screen and (max-width: 800px) {
  nav li {
    display: inline-block;
    margin-right: 1em;
  }

  article.novel p + p {
    text-indent: 1em;
  }

  aside {
    padding-top: calc(var(--line-height) / 2);
  }
}
